.section-profile{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.section-profile h4{
    margin: 0;
    margin-top: 2rem;
    font-size: 1.25rem;
}

.commandes-tableau {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px;
}

.commandes-tableau th, .commandes-tableau td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.commandes-tableau th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.commandes-tableau tr:hover {
    background-color: #f5f5f5;
}

.telecharger-billet-btn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.flex-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.annuler-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.annuler-btn:hover {
    background-color: #e53935;
}

.offres-tableau {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.offres-tableau th, .offres-tableau td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.offres-tableau th {
    background-color: #f2f2f2;
}

.modifier-offre-btn, .supprimer-offre-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.modifier-offre-btn {
    background-color: #4CAF50;
    color: white;
}

.supprimer-offre-btn {
    background-color: #f44336;
    color: white;
}

.ajout-offre-formulaire {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.formulaire-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

.formulaire-input:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
    transition: 0.4s;
}

.btn-ajouter-offre {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn-ajouter-offre:hover {
    background-color: #45a049;
}