body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main{
    padding: 0 10%;
    background-color: #C8102E;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

section{
    padding: 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
    color: #ffffff;
    background-color: black;
    width: auto;
    border-radius: 2rem;
    padding: 10px;
}